.custom-font {
  font-family: 'Inter', sans-serif;
}

.card {
  border-radius: 10px;
  margin-bottom: 30px;
  max-width: 100%;
  box-shadow: 0.1px 4px 6px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  border: 2px solid #130C90;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(19, 12, 144, 0.04);
}

thead {
  background-color: #130C90;
  text-align: center;
}

th, td {
  padding: 12px;
  border: 1px solid #ddd;
  vertical-align: middle;
  text-align: center;
}

th {
  color: white;
}

.date-picker {
  width: 200px;
  height: 40px;
  padding-left: 10px;
}

.custom-btn {
  color: white;
  border: none;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  margin-right: 10px;
  width: 100px; 
}


.btn-wfo {
  background-color: #66BB6A; 
  color: white;
  border: none;
}

.btn-wfo:hover {
  background-color: #4CAF50; 
}


.btn-wfh {
  background-color: #42A5F5;
  color: white;
  border: none;
}

.btn-wfh:hover {
  background-color: #1E88E5; 
}


.btn-izin {
  background-color: #FFCA28;
  color: white;
  border: none;
}

.btn-izin:hover {
  background-color: #FFC107; 
}


.btn-sakit {
  background-color: #FF8A65;
  color: white;
  border: none;
}

.btn-sakit:hover {
  background-color: #FF7043; 
}


.btn-alpha {
  background-color: #EF5350;
  color: white;
  border: none;
}

.btn-alpha:hover {
  background-color: #E53935;
}


.button-container {
  margin-bottom: 10px;
}

.button-container:last-child {
  margin-bottom: 0;
}